﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" /> 
    <link href="../../Content/bootstrap.css" rel="stylesheet" /> <!--We use this to access the stylesheets we added through the bootstrap command-->
    <link href="../../Content/bootstrap-theme.css" rel="stylesheet" /> <!--We use this to access the stylesheets we added through the bootstrap command-->
    <title>Index</title>
    <style>
        .btn a 
        {
            color: white;
            text-decoration: none;
        }

        body 
        {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h2>Sheridan has invited you to the</h2>
        <h3>tech competition!</h3>
        <div class="btn btn-success">
            @Html.ActionLink("RSVP Now", "RsvpForm") <!--RSVP Button that shall take you to the RsvpForm.cshtml file-->
        </div>
    </div>
</body>
</html>
