﻿@using CompetitionInvites.Models
@model CompetitionInvites.Models.CompetitionInvite

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link href="../../Content/Styles.css" rel="stylesheet" />
    <title>RsvpForm</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>RSVP</h4></div>
        <div class="panel-body">
            @using (Html.BeginForm()) //<!--Marks beginning of the form-->
            {
                @Html.ValidationSummary() //Used to produce the list of errors if any are to occur
                <div class="form-group"> 
                    <label>Your name:</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" }) <!--TextBoxFor will return a text input for the property in the object. In this case Name. form-control is handling styling-->
                </div>
                <div class="form-group">
                    <label>Your email:</label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Your phone:</label>
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Please select your technical interest:</label> <!--This is a dropdown containing the list of 4 technical interests that were created in the enum TechnicalInterest-->
                    @Html.DropDownListFor(x => x.Interest, new[] {
                            new SelectListItem() {Text = "Internet of things",
                                Value = TechnicalInterest.IoT.ToString()}, //We are converting IoT into a string and assigning it to the value
                            new SelectListItem() {Text = "Cognitive Computing",
                                Value = TechnicalInterest.Cognitive.ToString()},
                            new SelectListItem() {Text = "Wearable Computing",
                                Value = TechnicalInterest.Wearable.ToString()},
                            new SelectListItem() {Text = "Augmented / Virtual Reality",
                                Value = TechnicalInterest.AR_VR.ToString()},
                        }, "Choose an option", new { @class = "form-control" })
                </div>
                <div class="text-center">
                    <input class="btn btn-success" name="submit" type="submit" value="Accept Invitation" /> <!--The value for each of these buttons is important as its used to determine which one is pressed in HomeController-->
                    <input class="btn btn-danger"  name="submit" type="submit" value="Send Regrets" />
                </div>
            }
        </div>
    </div>
</body>
</html>
