﻿@model CompetitionInvites.Models.CompetitionInvite

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <style>
        body{background-color:#F1F1F1;}
    </style>
</head>
<body>
    @{
        try //Email setup
        {
            WebMail.SmtpServer = "smtp.example.com";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = true;
            WebMail.UserName = "mySmtpUsername";
            WebMail.Password = "mySmtpPassword";
            WebMail.From = "rsvps@example.com";

            WebMail.Send("party-host@example.com", "RSVP Notification",
                Model.Name + " is " + ((Model.WillAttend ?? false) ? "" : "not")
                    + "attending");

        }
        catch (Exception) //If email didnt work it will return a message
        {
            @:<b>Sorry - we couldn't send the email to confirm your RSVP.</b>
        }
    }
    <div class="text-center">
        <h1>Thank you, @Model.Name!</h1> <!--Will get name from model and print it out-->
        <div class="lead">
        @if (Model.WillAttend == true) //<!--If the user pressed the button confirming they can attend they will get a message displaying the interest they picked-->
        {
            @:See you there!
            <br />
            @:You were enrolled in the @Model.Interest
            @:track of the competition
        }
        else
        {
            @:Sorry to hear that you can't make it, but thanks for letting us know. <!--Else it will dislay a different message-->
        }
    </div>
        </div>
</body>
</html>
